
input:focus{outline: none;}



#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}
.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
   }
}
.logo-asta{
    color: white;
    top: 1.8vw;
    position: absolute;
    z-index: 99;
    left: 4.8vw;
    font-size: 2.06vw;
}
.logo-city{
    color: white;
    top: 4.1vw;
    position: absolute;
    z-index: 99;
    left: 4.8vw;
    font-size: 1.1vw;
}
/* .images-logo{
    width: 59%;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 1.55vw;
    right: 5vw;
    user-select: none;
} */
.img-fluid {
    display: inline-block;
    overflow: hidden;
}
.img-fluid {
    transition: 0.4s;
    display: block;
}
.img-fluid:hover {
    transform: scale(1.03);
}
.caption{
    line-height: 5vw;
    font-size: 3.7vw;
    text-align: left;
    top: 4vw;
    left: 4.7vw;

}
.carousel-inner{
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.c-item{
    max-width: 100%;
    min-height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    background-color: black;
    font-family: 'Inter', sans-serif !important;
    /* overflow: visible !important;
    padding-left: 0px !important;
    padding-right: 0px !important; */
    overflow-y: overlay;
    
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../font/Inter-ExtraBold.woff2") format("woff2");
}
head{
    font-family: 'Inter';
}
.info{
    display: none;
}
.bmw::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .1);
}
.mers::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .1);
}
.audi::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .1);
}
.bmw-sel{
    text-align: center;
    color: black;
}
.title-cars{
    display: block;
    margin-left: auto;
}
.chip_info{
    color: white;
    margin: 4%;
    font-size: 1.7vw;
    z-index: 99 !important;
}
.text-muted{
    text-decoration: none;
}
.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}
.hover-text-one figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-text-one figure figcaption::before, .hover-text-one figure figcaption::after {
    pointer-events: none;
}
.hover-text-one figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover-text-one figure h4, .hover-text-one figure p {
    margin: 0;
    text-align: center;
}
.hover-text-one figure p {
    font-size: 75%;
}
.hover-text-one figure h4 {
    font-size: 81%;
}
figure.effect-text-four figcaption {
    text-align: right;
}
figure.effect-text-four h4, figure.effect-text-four p {
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 4px 0;
}
figure.effect-text-four p {
    bottom: 15%;
    line-height: 1.42;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
figure.effect-text-four h4 {
    top: 69%;
    color: black;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
figure.effect-text-four:hover h4 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-text-four h4::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}
figure.effect-text-four h4::after, figure.effect-text-four p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    background-color: black;
}
figure.effect-text-four:hover h4::after, figure.effect-text-four:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



