.bmw::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .4);
}

.selecter{
position: absolute;
top: 25%;
left: 4.6%;
z-index: 99;
width: 90%;
height: 1%;
color: white;
}
.cards{
    position: relative;
    z-index: 3;
    left: 5%;
    top: 50%;
    

}


.carousel{
    position: relative;
    z-index: 1;
}